.text-area {
    text-area-background: #FEFAE0;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}